<div class="task-profile-block row">
  <ul class="profile-block-list columns large-9 end">
    <li></li>
    <li>
      <h3 class="fi-clipboard-pencil"> <%= @task.title %>
      <small class="fi-torsos"><%= @task.group.name %></small>
      </h3>
    </li>
    <li><%= @task.description %></li>
  </ul>
  <div class="columns large-2">
    <% if @task.group.primary_user == current_user %>
        <%= link_to "Add Users", task_memberships_path(@task), class: "button expand tiny" %>
        <%= link_to "Delete Task", @task, method: :delete, class: 'button expand tiny' %>
        <%= link_to "Update Task", edit_task_path(@task), class: 'button expand tiny' %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns large-3 small-12 side-bar">
    <h4 class="fi-megaphone"> Associations:</h4><hr>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a"><span class="fi-torso-business"> Team</span></a>
        <div id="panel1a" class="content active">
          <% @task.users.each do |user| %>
              <ul class="profile-block-list" id="side-user">
                <li meta-data='<%=user.to_json %>' class="side-nav-user-item">
                  <%= link_to user_path(user) do %><%= user.name %><% end %>
                </li>
              </ul>
          <% end %>
        </div>
      </li>

      <li class="accordion-navigation">
        <a href="#panel3a"><span class="fi-address-book"> Contacts</span></a>
        <div id="panel3a" class="content">
          <% @task.group.contacts.each do |contact| %>
            <ul class="profile-block-list" id="side-contact">
              <li meta-data='<%=contact.to_json %>' class="side-nav-contact-item">
                <%= link_to contact_path(contact) do %><%= contact.company_name %><% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </li>
    </ul>
    <hr>
  </div>
  <div class="columns large-9">
    <h4 class="fi-comment"> Comments:</h4><hr>
    <%= form_for [@task, @comment] do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :task_id, value: params[:id] %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Post Comment", class: "button tiny" %>
    <% end %>
    <hr>
    <ul class="profile-block-list">
      <% @task.comments.each do |comment| %>
        <div class="comment-profile-block row">
          <li><%= comment.body %></li>
          <li><span class="sub-type"> at <%= comment.when %></span> </li>
          <li><span class="sub-type fi-torso-business"> by <%= comment.user.name %></span></li>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
