<div class="task-profile-block row">
  <ul class="profile-block-list columns small-9 end">
    <li></li>
    <li><h3 class="fi-clipboard"> <%= @task.title %>
      <small class="fi-torsos"><%= @task.group.name %></small>
    </h3>

    </li>
    <li><%= @task.description %></li>
  </ul>
  <div class="columns small-3">
    <% if @task.group.primary_user == current_user %>
        <%= link_to "Add Users", task_memberships_path(@task), class: "button tiny" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns small-4">
    <% @task.users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="task-users-block">
          <ul class="no-bullets">
            <li>
              <%= user.first_name %> <%= user.last_name %>
            </li>
            <li><%= user.email %></li>
          </ul>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
