<h3 class="fi-torsos"> <%= @group.name %></h3>
<%= link_to "Create Task", new_group_task_path(@group), class: "button" %>
<%= link_to "Create Contact", new_group_contact_path(@group), class: "button" %>
<div class="group-profile-block row">
  <div class="profile-block-list columns small-8">
    <ul class="profile-block-list">
      <li><strong class="fi-torsos"> <%= @group.name %></strong></li>
      <li>
        <span class="sub-type">primary</span>
        <%= @group.primary_user.name %>
        <%= @group.primary_user.email %>
      </li>
      <li><span class="sub-type">details</span> <%= @group.description %></li>
    </ul>
  </div>

  <div class="columns small-2">
    <% if @group.primary_user == current_user %>
        <%= link_to "Add Users", group_memberships_path(@group), class: "button expand tiny" %>
        <%= link_to "Delete Group", @group, method: :delete, class: 'button expand tiny' %>
        <%= link_to "Update Group", edit_group_path(@group), class: 'button expand tiny' %>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="columns small-4">
    <h4 class="fi-torso-business"> Users:</h4>
  </div>
</div>

<div class="row">
  <div class="columns small-4">
    <% @group.users.each do |user| %>
      <%= link_to user_path(user) do %>
          <ul class="profile-block-list">
            <li><%= user.name %></li>
          </ul>
        <hr>
      <% end %>
    <% end %>

    <div class="">
      <h4 class="fi-clipboard-pencil"> Tasks:</h4>
    </div>

    <% @group.tasks.each do |task| %>
      <% if task != nil %>
        <%= link_to task_path(task) do %>
            <ul class="profile-block-list">
              <li><%= task.title %></li>
            </ul>
          <hr>
        <% end %>
      <% end %>
    <% end %>

    <div class="">
      <h4 class="fi-address-book"> Contacts:</h4>
    </div>

    <% @group.contacts.each do |contact| %>
        <%= link_to contact_path(contact) do %>
            <ul class="profile-block-list">
              <li><%= contact.company_name %></li>
            </ul>
          <hr>
        <% end %>
      <% end %>
  </div>

</div>
