<div class="user-profile-block row">
    <%= image_tag(@user.profile_photo, class: "columns large-3") %>
    <ul class="profile-block-list columns large-6 end">
      <li><strong><%= @user.name %></strong></li>
      <li><%= @user.title %></li>
      <li><%= @user.email %></li>
      <li><%= @user.display_address %></li>
      <li><a href="tel:#{<%= @user.phone %>}"><%= @user.display_phone %></a></li>
      <li><span class="sub-type">last | <%= @user.last %></span></li>
    </ul>
    <div class="columns large-2">
      <%= link_to "Settings", edit_user_registration_path, class: "button tiny expand" %>
      <%= link_to "Check-In", new_checkin_path, class: "button tiny expand" %>
    </div>
</div>
<hr>

<div class="row">
  <div class="columns large-3">
    <h4 class="fi-marker"> Checkin-ins:</h4><hr>
    <% @checkins.each do |checkin| %>
      <div class="user-profile-block">
        <ul class="profile-block-list">
          <% if !checkin.contact_id.nil? %>
            <li>
              <span class="sub-type">at</span>
                 <span class="fi-address-book">
                 <%= checkin.contact.company_name %>
                 </span>
            </li>
          <% end %>
          <li>
            <span class="sub-type">where | <%= checkin.address %></span>
          <li>
            <span class="sub-type">when | <%= checkin.when %></span>
          </li>
          <li>
            <span class="sub-type">message | <%= checkin.message %></span>
          </li>
        </ul>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="columns large-9">
    <h4 class="fi-comment"> Recent Comments:</h4><hr>
    <ul class="profile-block-list">
      <% @comments.each do |comment| %>
        <div class="comment-profile-block row">
          <li><%= comment.body %></li>
          <li><span class="sub-type"> at <%= comment.when %></span> </li>
          <li><span class="sub-type fi-torso-business"> by <%= comment.user.name %></span></li>
          <% if !comment.group_id.nil? %>
            <li><span class="sub-type fi-torsos"> from <%= comment.group.name %></span></li>
          <% elsif !comment.task_id.nil? %>
            <li><span class="sub-type fi-clipboard-pencil"> from <%= comment.task.title %></span></li>
          <% else !comment.contact_id.nil? %>
            <li><span class="sub-type fi-address-book"> from <%= comment.contact.company_name %></span></li>
          <% end %>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
