<div class="contact-profile-block row">
  <div class="columns large-6">
    <div id="map" style="width: 350px; height: 350px;"></div>
  </div class="columns large-4 end">
    <ul class="profile-block-list">
    <li><strong><%= @contact.company_name %></strong></li>
    <li><%= @contact.name %></li>
    <li><%= @contact.display_phone %></li>
    <li><%= @contact.display_address %></li>
    <li><span class="sub-type">type</span> <%= @contact.category %></li>
    <li>
      <span class="sub-type">from</span>
      <%= link_to group_path(@contact.group) do %>
        <span class="fi-torsos"> <%= @contact.group.name %></span>
      <% end %>
    </li>
    <li>
      <span class="sub-type">notes </span><%= @contact.description %>
    </li>
  </ul>
</div>
<hr>
<div class="row">
  <div class="columns large-3">
    <h4 class="fi-marker"> Checkin-ins:</h4><hr>
    <% @checkins.each do |checkin| %>
      <div class="user-profile-block">
        <ul class="profile-block-list">
          <li>
            <span class="sub-type fi-address-book">
              where <%= checkin.contact.company_name %>
            </span>
          </li>
          <li>
            <span class="sub-type">when</span> <%= checkin.when %>
          </li>
          <li>
            <span class="sub-type">message</span> <%= checkin.message %>
          </li>
          <li>
            <span class="sub-type">by <%= checkin.user.name %></span>
          </li>
        </ul>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="columns large-9">
    <h4 class="fi-comment"> Comments:</h4><hr>
    <%= form_for [@contact, @comment] do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :contact_id, value: params[:id] %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Post Comment", class: "button tiny" %>
    <% end %>
    <hr>
    <ul class="profile-block-list">
      <% @contact.comments.each do |comment| %>
        <div class="comment-profile-block row">
          <li><%= comment.body %></li>
          <li><span class="sub-type"> at <%= comment.when %></span> </li>
          <li><span class="sub-type fi-torso-business"> by <%= comment.user.name %></span></li>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
