<div class="contact-profile-block row">
  <div class="columns small-6">
    <div id="map" style="width: 400px; height: 400px;"></div>
  </div class="columns small-4 end">
    <ul class="profile-block-list">
    <li><strong><%= @contact.company_name %></strong></li>
    <li><%= @contact.name %></li>
    <li><%= @contact.display_phone %></li>
    <li><%= @contact.display_address %></li>
    <li><span class="sub-type">type</span> <%= @contact.category %></li>
    <li>
      <span class="sub-type">from</span>
      <%= link_to group_path(@contact.group) do %>
        <span class="fi-torsos"> <%= @contact.group.name %></span>
      <% end %>
    </li>
  </ul>
</div>
<hr>
<h4>Notes:</h4>
<p><%= @contact.description %></p>
