<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<fieldset>
  <legend>Please Sign In</legend>
  <div class="row">
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :email, class: "right inline" %>
      </div>
      <div class="large-10 columns">
        <%= f.email_field :email, autofocus: true, placeholder: "email" %>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :password, class: "right inline" %>
      </div>
      <div class="large-10 columns">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
      </div>
    </div>

  <div class="row">
    <div class="columns large-4">
      <%= f.submit "Log in", class: "button expand tiny" %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
    <div class="columns large-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "inline" %>
    </div>
    <% end -%>
    <div class="row">
    <div class="columns large-4">
      <%= render "devise/shared/links" %>
    </div>
    </div>
    </div>
  </div>
</fieldset>
<% end %>
