<!DOCTYPE html>
<html>

<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>

<body>
  <div class="row">
    <span class="columns small-4">
      <h2><a href="/" class="fi-home">Home</a></h2>
    </span>
    <div class="columns small-8">
      <ul class="inline-list right">
      <%- if current_user -%>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <%- else -%>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
      <%- end -%>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <dl class="sub-nav">
        <dd>
          <a href="" class="fi-torsos"> Groups</a>
        </dd>
        <dd>
          <a href="" class="fi-clipboard"> Tasks</a>
        </dd>
        <dd>
          <a href="" class="fi-torso-business"> Users</a>
        </dd>
        <dd>
          <a href="" class="fi-address-book"> Roledex</a>
        </dd>
        <dd>
          <a href="" class="fi-folder"> Files</a>
        </dd>
      </dl>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>

      <%= yield %>

        <%= javascript_include_tag 'application' %>
          <%= yield :extra_footer %>
</body>

</html>
