<!DOCTYPE html>
<html>

<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>

<body>
  <%- if current_user -%>
    <div class="row">
      <span class="columns small-4">
        <h2 class="fi-home">
          <%= link_to " Home", user_path(current_user) %>
        </h2>
      </span>
      <div class="columns small-8">
        <ul class="inline-list right">
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
          <%- else -%>
        <ul class="inline-list right">
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        </ul>
          <%- end -%>
      </div>
    </div>
    <div class="row">
      <%- if current_user -%>
      <div class="columns small-12">
        <dl class="sub-nav">
          <dd>
            <span class="fi-torsos"><%= link_to "Groups", groups_path %></span>
          </dd>
          <dd>
            <span class="fi-clipboard"><%= link_to "Tasks", tasks_path %></span>
          </dd>
          <dd>
            <span class="fi-torso-business"><%= link_to "Contacts", contacts_path %></span>
          </dd>
          <dd>
            <a href="" class="fi-folder"> Files</a>
          </dd>
        </dl>
      </div>
      <%- end -%>
    </div>

    <%- flash.each do |key, value| -%>
      <div alert-box class="alert-box success flash-<%= key %>">

        <%= value %>
      </div>
      <%- end -%>

        <%= yield %>

          <%= javascript_include_tag 'application', "autocomplete-rails.js"  %>
            <%= yield :extra_footer %>
</body>

</html>
